<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= SampleAppWeb.DynamicTextHelper.page_title(Enum.into(assigns,
      %{action: @conn.private.phoenix_action})) %>
    </title>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>