<!DOCTYPE html>
<html>
  <head>
    <title>
       <%= SampleAppWeb.DynamicTextHelper.page_title(Enum.into(assigns,
      %{action: @conn.private.phoenix_action})) %>
    </title>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body>
     <SampleAppWeb.Layouts.header current_user={@current_user}/>
  <div class="container mt-4">
   <%= if @flash do %>
  <div :for={{message_type, message} <- @flash}} class={"alert alert-#{message_type}"}>
    <%= message %>
  </div>
<% end %>

    <%= @inner_content %>
  </div>
  <script type="text/javascript" src={~p"/assets/app.js"}></script>
  </body>
    <SampleAppWeb.Layouts.footer />
</html>
