
<%= assigns[:user].name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
<h1>
  <%= SampleAppWeb.GravatarHelper.gravatar_for(assigns[:user]) %>
  <%= assigns[:user].name %>
</h1>
   </section>
  </aside>
</div>
<h1>User Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>inserted_at: <%= @user.inserted_at %></p>
<p>updated_at: <%= @user.updated_at %></p>
<p>NaiveDateTime: <%= NaiveDateTime.utc_now() %></p>

