/* universal */

body {
  padding-top: 85px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.hero-container {
  background-color: $gray-200;
}

ul {
  padding: 0;
}